{% extends "base.html.twig" %}

{% block content %}
    {% if content.headerImage|default %}
        <img src="{{ content.headerImage.thumbnails['x400'] }}" class="img-fluid" alt="{{content.headerImage.title}}"/>
    {% endif %}
    <h1>{{ content.title }}</h1>


    {% include 'includes/blocks.html.twig' with {
        content: {blocks: content.blocks},
        view: {blocks: view.blocks},
    } only %}

    {{ content.article|raw }}
{% endblock %}
